flows.json
[{"id":"b7b986c6.2f1618","type":"tab","label":"AEP","disabled":false,"info":""},{"id":"5159da19.3b6cd4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"f0d62896.62a678","type":"mqtt-broker","z":"","name":"energyBridge","broker":"192.168.1.91","port":"2883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"33b8a725.3a51f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"56c387.70044c78","type":"ui_group","z":"","name":"Default","tab":"33b8a725.3a51f8","disp":true,"width":"6","collapse":false},{"id":"9c93234.d19f6e","type":"mqtt in","z":"b7b986c6.2f1618","name":"","topic":"event/metering/instantaneous_demand","qos":"2","datatype":"json","broker":"f0d62896.62a678","x":170,"y":140,"wires":[["77441d2a.d5b9c4"]]},{"id":"c8f0dcdf.635a7","type":"debug","z":"b7b986c6.2f1618","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":220,"wires":[]},{"id":"913f94a0.7af628","type":"http in","z":"b7b986c6.2f1618","name":"","url":"/energy/demand","method":"get","upload":false,"swaggerDoc":"","x":120,"y":460,"wires":[["8447b355.efca1"]]},{"id":"735d8655.b26848","type":"http response","z":"b7b986c6.2f1618","name":"","statusCode":"200","headers":{},"x":780,"y":660,"wires":[]},{"id":"77441d2a.d5b9c4","type":"change","z":"b7b986c6.2f1618","name":"","rules":[{"t":"set","p":"lastInstantaneousReading","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":140,"wires":[["c8f0dcdf.635a7"]]},{"id":"a2abdd4d.c1dc6","type":"change","z":"b7b986c6.2f1618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lastInstantaneousReading","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["735d8655.b26848"]]},{"id":"3f2005d6.603eca","type":"mqtt in","z":"b7b986c6.2f1618","name":"","topic":"event/metering/summation/minute","qos":"2","datatype":"json","broker":"f0d62896.62a678","x":160,"y":220,"wires":[["11dda919.9aa0e7"]]},{"id":"11dda919.9aa0e7","type":"change","z":"b7b986c6.2f1618","name":"","rules":[{"t":"set","p":"lastMinuteReading","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["c8f0dcdf.635a7"]]},{"id":"8447b355.efca1","type":"switch","z":"b7b986c6.2f1618","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"instant","vt":"str"},{"t":"eq","v":"minute","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":460,"wires":[["a2abdd4d.c1dc6"],["185b391c.6a7837"]]},{"id":"185b391c.6a7837","type":"change","z":"b7b986c6.2f1618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lastMinuteReading","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[["735d8655.b26848"]]},{"id":"52e7539e.a4485c","type":"change","z":"b7b986c6.2f1618","name":"","rules":[{"t":"set","p":"lastMinuteReading","pt":"flow","to":"Not set","tot":"str"},{"t":"set","p":"lastInstantaneousReading","pt":"flow","to":"Not set","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":40,"wires":[["38e428e5.77ea28"]]},{"id":"38e428e5.77ea28","type":"debug","z":"b7b986c6.2f1618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":40,"wires":[]},{"id":"af1522c5.1cc72","type":"inject","z":"b7b986c6.2f1618","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":40,"wires":[["52e7539e.a4485c"]]},{"id":"98cb2843.2577e8","type":"http in","z":"b7b986c6.2f1618","name":"","url":"/AEP","method":"get","upload":false,"swaggerDoc":"","x":80,"y":740,"wires":[["35247211.209c8e"]]},{"id":"2b8b2839.7ee7b8","type":"template","z":"b7b986c6.2f1618","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Electric usage: {{payload.demand}}","output":"str","x":620,"y":780,"wires":[["bcf3901f.aaa","81fd1c2d.89e21"]]},{"id":"bcf3901f.aaa","type":"http response","z":"b7b986c6.2f1618","name":"","statusCode":"200","headers":{},"x":920,"y":780,"wires":[]},{"id":"81fd1c2d.89e21","type":"debug","z":"b7b986c6.2f1618","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":860,"wires":[]},{"id":"35247211.209c8e","type":"change","z":"b7b986c6.2f1618","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lastInstantaneousReading","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":780,"wires":[["2b8b2839.7ee7b8"]]},{"id":"a4792221.9bb3d","type":"webhookrelay","z":"b7b986c6.2f1618","d":true,"buckets":"gabuckets","x":300,"y":980,"wires":[["449467ac.4e69c8"]]},{"id":"449467ac.4e69c8","type":"function","z":"b7b986c6.2f1618","name":"","func":"\nreturn {\n    payload: msg.payload.body\n};","outputs":1,"noerr":0,"x":480,"y":980,"wires":[["71292b24.171464"]]},{"id":"71292b24.171464","type":"json","z":"b7b986c6.2f1618","name":"","property":"payload","action":"","pretty":false,"x":640,"y":1000,"wires":[["14758044.7d369"]]},{"id":"14758044.7d369","type":"debug","z":"b7b986c6.2f1618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":1020,"wires":[]},{"id":"8e0493d7.220fa","type":"http request","z":"b7b986c6.2f1618","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://192.168.1.225/push","tls":"5159da19.3b6cd4","persist":false,"proxy":"","authType":"digest","x":610,"y":1080,"wires":[["aef7a197.2641c"]]},{"id":"2baff364.91abdc","type":"inject","z":"b7b986c6.2f1618","name":"","topic":"","payload":"lastInstantaneousReading","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1080,"wires":[["74e7be9c.f0dc3","117ab16a.918b4f"]]},{"id":"117ab16a.918b4f","type":"template","z":"b7b986c6.2f1618","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<PolycomIPPhone>\n <Data Priority=”High”><h1>Energy reading {{payload.demand}}</h1></Data>\n</PolycomIPPhone>\n","output":"str","x":440,"y":1080,"wires":[["8e0493d7.220fa"]]},{"id":"74e7be9c.f0dc3","type":"change","z":"b7b986c6.2f1618","d":true,"name":"","rules":[{"t":"set","p":"headers[\"Content-Type\"]","pt":"msg","to":"application/x-com-polycom-spipx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1220,"wires":[["117ab16a.918b4f"]]},{"id":"aef7a197.2641c","type":"debug","z":"b7b986c6.2f1618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":1160,"wires":[]}]